
<form class="px-5 pt-5">
  <div class="input-group mb-3">
    <span class="input-group-text" >Content</span>
    <input type="text" class="form-control" required>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Option 1</span>
    <input type="text" class="form-control" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Option 2</span>
    <input type="text" class="form-control" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Option 3</span>
    <input type="text" class="form-control" required>
  </div>

  <div class="input-group mb-3">
  <span class="input-group-text">Option 4</span>
  <input type="text" class="form-control" required>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Correct Answer</span>
    <input type="text" class="form-control" required>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Subject</span>
    <input type="text" class="form-control" required>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Topic</span>
    <input type="text" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
