<div class="fixed-top">
<nav class="navbar navbar-expand-sm navbar-fixed-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MCQ pratic</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link disabled">Courses</a>
      </div>
    </div>
  </div>
</nav>
</div>


<div style="padding-top: 55px">
  <router-outlet></router-outlet>
</div>
