
<!--  <div class="card text-center" style="width: 15rem; ">-->
<!--  <ul class="list-group list-group-flush">-->
<!--    <li class="list-group-item">An item</li>-->
<!--    <li class="list-group-item">A second item</li>-->
<!--    <li class="list-group-item">A third item</li>-->
<!--    <li class="list-group-item">An item</li>-->
<!--    <li class="list-group-item">A second item</li>-->
<!--    <li class="list-group-item">A third item</li>-->
<!--    <li class="list-group-item">An item</li>-->
<!--    <li class="list-group-item">A second item</li>-->
<!--    <li class="list-group-item">A third item</li>-->
<!--  </ul>-->
<!--  </div>-->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">Start Bootstrap</a>
    </li>

    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="#">Shortcuts</a>
    </li>
    <li>
      <a href="#">Overview</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>

