<mat-sidenav-container class="pt-5">
  <mat-sidenav mode="over" opened>
    <app-admin-left></app-admin-left>
  </mat-sidenav>

  <mat-sidenav-content>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--<div class="container-lg-fluid">-->
<!--  <div class="row mx-1">-->
<!--    <div class="col-lg-11">-->
<!--      <div class="container-lg-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-md-3 sidenav">-->
<!--            <app-admin-left></app-admin-left>-->
<!--          </div>-->
<!--          <div class="col-md-9">-->
<!--            <p class="text-center">WELCOME</p>-->
<!--            <router-outlet></router-outlet>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
