<div class="container">
  <div class="row">
    <div class="col text-center" *ngFor="let object of objects">
      <div class="card border-warning align-content-lg-center" style="width: 10rem;">
        <div>
          <img routerLink={{object.link}} src={{object.image}} class="card-img-top rounded img" >
        </div>
      </div>
    </div>
</div>

  <div class="row pt-4">
    <div class="col-4">
      <h1>Java</h1>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>

    </div>
    <div class="col-4">
      <h1>C++</h1>
      <li><a class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
    </div>
    <div class="col-4">
      <h1>Python</h1>
      <li><a class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>
      <li><a  class="link-primary">Top Question on Opps</a></li>

    </div>
  </div>
</div>



